<div>
    <div>
        <div>
            <img class="header-img" src="{{this.banner}}">
        </div>
        {{this.cc}}
        <div class="cell mt-10">
            <p ng-if="lasttime>0">您收到了一封信件，距离打开的时间为：</p>
            <p ng-if="lasttime<=0">时间到，点击信封阅读信件吧</p>
            <div class="cell-inner" ng-if="lasttime>0">
                <p>
                    <span class="cell-number">12</span>
                    <span class="cell-unit">天</span>
                </p>

                <p>
                    <span class="cell-number" ng-bind="lasttime"></span>
                    <span class="cell-unit">秒</span>
                </p>
            </div>
            {{#if lasttime}}
            <div class="cell-inner-img">
                <img class="cell-img" src="{{this.letter}}">
            </div>
            {{/if}}

        </div>
        <button class="btn btn-default btn-block  mt-20">强制打开</button>
        <button class="btn btn-success btn-block  mt-10">也写一个</button>
        <div class="btn-group btn-group-justified mt-20 ">
            <button type="button" class="btn btn-default">登陆</button>
            <button type="button" class="btn btn-default">注册</button>
        </div>
    </div>

</div>
